/* Place CSS styles here */
.star-group img {
    width: 60px;
    transition: all 2s ease;
}

.star-1{
    position: absolute;
    top: 0;
    left: 110px;
    transform: rotate(45deg);
}

.star-group:hover .star-1{
    transform: translate(1000px);
}

.star-2 {
    position: absolute;
    top: 10px;
    left: 210px;
}

.logo img {
    border: 1px solid black;
}


.logo img{
    transform: translate(300px, 50px) scale(-1);
    transition: all 1s ease;
}

.logo:hover img{
    transform: translate(300px, 50px) scale(1);

}